body{
    background-color: #116466;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
input[type=text], input[type=password], input[type=number], select {
    padding: 6px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
fieldset{
    margin-right: 57%;
    background-color: #d1e8e2;
    border: 2px solid #2c3531;
    border-radius: 15px;
    box-shadow: 0 0 10px #2c3531;
}
footer {
    position: relative;
}
footer p{
    font-size: 0.8em;
    text-align: center;
    bottom:0;
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1.3em;
    text-align: center;
}